@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');

body {

    font-family: 'Urbanist', sans-serif;
    overflow-x: hidden;
}

.about {
    background-color: #64f47c;
    text-align: center;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 1%;
}

.aboutback {

    height: 80vh;
    background-image: url('../assets/wave3.svg');
    background-repeat: no-repeat;
    background-size: cover;

}

.aboutcont {
    margin-top: 5%;
    margin-bottom: 5%;
}

.ul {
    margin-left: 45%;
}

.aboutcont p {
    text-align: center;
    font-size: large;
}
@media only screen and (max-width: 979px) 
{
    .aboutback {
        width: 100%;
        height: 80vh;
        background-image: url('../assets/wave3.svg');
        background-repeat: no-repeat;
        background-size: cover;

    }

    .ul {
        margin-left: 20%;
    }
}