.home {
    background-color: #64f47c;
    text-align: center;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 1%;
}

.caromod {
    margin-left: 10%;
    width: 80%;
    height: 80%;
    background-color: #FFF1DC;
}

.compname {
    padding: 2%;
    text-align: center;
}

.Quote1 {
    text-align: center;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
    background-color: #64f47c;
    margin-bottom: 2%;
}

#info {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 4%;
}

.row
{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 4%;
}
.adv {
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2%;
    margin-top: 2%;
    padding-top: 2%;


}

.woo {
    width: 100%;
    height: 100%;
}

.why {
    text-align: center;
    font-weight: bold;
    margin-bottom: 3%;
}

.adv p {
    font-size: large;
}

#oil {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    margin-top: 4%;
}

.card {
    border: 1px solid black;
    border-radius: 5px;
}

.prodfull {
    border: 2px solid black;
    margin-top: 2%;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 20px;
}

.oprod {
    text-align: center;
    margin-top: 2%;
    background-color: #B1AFFF;
    margin-left: 30%;
    margin-right: 30%;
    padding: 1%;
}

.card1 {

    border-radius: 5px;

}

.card1:hover {
    transform: translate3D(0, -10px, 0) scale(1.03);

}

.card-title {
    text-align: center;
    padding-top: 5%;
}

.card-title1 {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #B1AFFF;
}


.sun {
    width: 100%;
    height: 15.5rem;
}

.sun1 {
    width: 100%;
    height: 13.5rem;
}

.anchor {
    text-decoration: none;
    color: black;
}

.anchor:hover {
    color: black;
}

.compdetails
{
    margin-left: 10%;
    background-color: antiquewhite;
    margin-right: 10%;
    padding-bottom: 2px;
    margin-bottom: 4%;
}
.comname{
    width:15%;
    margin-left: 40%;
    margin-top:1%;
    margin-bottom: 2%;
    
}
.doubt
{
    letter-spacing: 5px;
}
.address
{
    letter-spacing: 2px;;
}
.email
{
    letter-spacing: 2px;
}

@media(max-width:767px) {
    .card {
        margin-top: 20px;
    }

    #oil {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 7%;
        margin-top: 1%;
    }

    .oprod {
        text-align: center;
        margin-top: 10%;
        background-color: #B1AFFF;
        margin-left: 10%;
        margin-right: 10%;
        padding: 1%;
    }

    .prodfull {
        border: 2px solid black;
        margin-top: 10%;
        margin-left: 7%;
        margin-right: 7%;
        border-radius: 20px;
    }

    .adv {
        border: 2px solid black;
        border-radius: 20px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 2%;
        margin-top: 10%;
        padding-top: 7%;
    
    }
    .woo {
        margin-top: 2%;
        margin-bottom: 10%;
        width: 100%;
        height: 100%;
    }
    .adv p {
        font-size: large;
        margin-top: 10%;
    }
    .comname{
        width:50%;
        margin-left: 20%;
        margin-top:10%;
        margin-bottom: 4%;
    }
    .col-sm-4
    {
        padding-top: 5%;
    }
    
}

@media(max-width:767px) {
    .Quote1 {
        text-align: center;
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 4%;
        padding: 3%;
        background-color: #64f47c;
    }
    #info {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 4%;
    }

}

@media(max-width:767px) {
    .caromod {
        background-color: #FFF1DC;
        width: 100%;
        height: 100;
        margin-left: 0%;
    }

}

@media(max-width:767px) {
    .home {
        background-color: #64f47c;
        text-align: center;
        margin-top: 4%;
        margin-left: 3%;
        margin-right: 3%;
        padding: 2%;
    }

}