.brand-text {
  margin-left: 4rem;
  margin-top: -3.2rem;
  font-weight: 700;
}
.nav-link {
  margin: 20px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 1rem;
}
.nav-link:hover,
.nav-link:focus {
  background-color: #fefefe;
  color: #451717 !important;
  border-radius: 1rem;
}