.ss__control1
{
    margin-left: 40%;
    
}

.ss__control1_button
{
    margin-top: 2%;
}

.title6
{
    margin-left: 7%;
}


@media(max-width:767px) {
    .ss__control1
{
    margin-left: 0%;
    
}

.ss__control1_button
{
    margin-top: 2%;
}

.title6
{
    margin-left: 0%;
}


}